/* NProgress - Top progress bar for route transitions */

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: hsl(var(--color-primary));
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	box-shadow:
		0 0 10px hsl(var(--color-primary)),
		0 0 5px hsl(var(--color-primary));
	opacity: 1;
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove the spinner (we only want the bar) */
#nprogress .spinner {
	display: none;
}
